src/main/resources/xsd/categorise.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="categories">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="category">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="subcategory">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="product">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="manufacturer" type="xs:string" />
                                                    <xs:element name="model" type="xs:string" />
                                                    <xs:element name="dateOfManufacture" type="xs:string" />
                                                    <xs:element name="color" type="xs:string" />
                                                    <xs:element name="price" type="xs:unsignedShort" />
                                                    <xs:element name="quantityInStock" type="xs:unsignedByte" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="title" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="title" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>