src/main/resources/xsd/categorise.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="category">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="subcategories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="subcategory" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="products">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="manufacturer"/>
                                                                <xs:element type="xs:string" name="model"/>
                                                                <xs:element type="xs:string" name="dateOfManufacture"/>
                                                                <xs:element type="xs:string" name="color"/>
                                                                <xs:element type="xs:short" name="price"/>
                                                                <xs:element type="xs:byte" name="quantityInStock"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="title" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="title"/>
        </xs:complexType>
    </xs:element>
</xs:schema>